body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; /* Dark background */
    color: #c9d1d9; /* Light text color */
    margin: 0;
    padding: 20px;
    
}
/* Color circles for each item */
.color-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 4px;
    vertical-align: middle;
    display: inline-block;
}
header {
    text-align: center;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;              /* Use Flexbox for filters */
    gap: 20px;                 /* Space between filter elements */
    margin-bottom: 20px;       /* Margin below the filters */
}

.filter-container div {
    flex: 1;                   /* Each filter takes equal space */
    min-width: 150px;          /* Minimum width for each dropdown */
}

select {
    width: 100%;               /* Make select full width of the container */
    padding: 5px;             /* Padding for better appearance */
    border: 1px solid #ccc;    /* Border for select */
    border-radius: 5px;        /* Rounded corners */
    background-color: #444c56; /* Dark background for select */
    color: #c9d1d9;             /* Light text for select */
}

.active-filters-container {
    margin-top: 20px;          /* Space above the active filters section */
}

.active-filter-card {
    display: inline-block;      /* Make each card inline for horizontal layout */
    background-color: #444c56; /* Dark background for active filter cards */
    color: #ffffff;             /* White text for visibility */
    border-radius: 5px;        /* Rounded corners */
    padding: 5px 10px;         /* Padding for active filters */
    margin-right: 10px;        /* Space between active filter cards */
    margin-bottom: 10px;       /* Space below the cards */
}

.remove-btn {
    cursor: pointer;            /* Pointer cursor for remove button */
    margin-left: 5px;          /* Space between text and button */
    color: #858585;            /* Color for remove button */
}

.project-container {
    display: flex;
    flex-wrap: wrap;           /* Allow wrapping for project cards */
    gap: 10px;                 /* Small spacing between project cards */
}

.project-title {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.modal {
    display: none;             /* Hidden by default */
    position: fixed;          /* Stay in place */
    z-index: 1;               /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;              /* Full width */
    height: 100%;             /* Full height */
    overflow: auto;           /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
.modal-description {
    white-space: pre-line;
}

.modal-content {
    background-color: #2d333b; /* Dark background for modal */
    margin: 3% auto;          /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;                /* Could be more or less, depending on screen size */
    color: #c9d1d9;            /* Light text color */
}
.modal-info-container {
    display: flex; /* Align lists side by side */
    justify-content: space-between; /* Space between the lists */
    margin-bottom: 20px; /* Space between lists and the rest of modal content */
}

.modal-info-list {
    width: 30%; /* Set equal width for each list */
}

.modal-info-list h3 {
    margin-bottom: 10px; /* Space between heading and list */
}

.modal-info-list ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
}

.modal-info-list li {
    display: flex; /* Align items horizontally */
    align-items: center; /* Center the circle and text vertically */
    margin-bottom: 8px; /* Space between items */
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 30px;
  }
.close {
    color: #aaaaaa;            /* Light grey */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffffff;            /* White when hovered */
    text-decoration: none;
    cursor: pointer;
}

.github-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #24292e; /* GitHub dark theme color */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.github-button img {
    margin-right: 8px;
}

.github-button:hover {
    background-color: #0366d6;
}
.project-container{
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    gap: 10px; /* Space between cards */
}

/**a:link {
    color: #00e1ff
}
a:visited {
    color: #0099ff
}
/* Project Card Styles */
.project-card, .experience-card {
    display: flex; /* Use flex layout for the card */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Space between content and button */
    background-color: #282828; /* Card background color */
    border: 1px solid #444; /* Card border */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Inner padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow */
    transition: transform 0.2s; /* Smooth hover effect */
}

.project-card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Adjustments to make sure other elements fit well */
.project-card-top {
    text-align: center;
    margin-bottom: 10px; /* Space below title */
}

.project-card h3, .experience-title {
    margin: 0;
    font-size: 1.5rem;
    color: #58a6ff;
}

.project-card-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/* Description section (left column) */
.project-card-description {
    width: 60%;
    padding-right: 20px;
}

.project-card-description p {
    margin: 0;
    font-size: 1rem;
    color: #8b949e;
}

/* Info section (right column) */
.project-card-info {
    
    width: 40%;
}
/* Responsive Breakpoints */
@media (max-width: 1024px) {
    .project-container  {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

@media (max-width: 600px) {
    .project-container {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }
}


.project-nature, .project-technologies, .project-tools {
    margin: 10px 0;
    font-size: 0.9rem;
}
.tool-item {
    display:inline-block
}

.project-nature strong, .project-technologies strong, .project-tools strong {
    color: #c9d1d9; /* GitHub blue for labels */
}

/* Style for the 'View Details' button */
.view-details-button {
    justify-content: flex-end;
    display: flex;
    background-color: #238636; /* GitHub green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 10px;
    font-size: 1rem;
}

.view-details-button:hover {
    background-color: #2ea043;
}

/********************************************************************

MAIN PAGE STYLES

**********************************************************/
/* Style for the profile header */
.profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #24292e;  /* GitHub dark header style */
    color: white;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.introduction {
    font-size: 1.2em;
    margin: 0;
}

/* Style for the tab bar */
.tab-bar {
    background-color: #2d333b; /* GitHub-like dark tab background */
    border-bottom: 2px solid #444c56; /* Subtle border to divide from content */
    padding: 10px 0; /* Vertical padding */
    display: flex;
    justify-content: space-around; /* Space out the tabs evenly */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

/* Style for tab buttons */
.tab-button {
    background-color: transparent;
    color: #c9d1d9; /* GitHub's light gray text in dark mode */
    border: none;
    font-size: 1.1em;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.tab-button:hover, .tab-button.active {
    background-color: #444c56; /* Highlight active/hovered tab */
    color: white;
}

.tab-button:focus {
    outline: none;
}

/* Style for active and inactive tabs */
.tab-bar {
    background-color: #2d333b;
    border-bottom: 2px solid #444c56;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.tab-button {
    background-color: transparent;
    color: #c9d1d9;
    border: none;
    font-size: 1.1em;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

/* Change background and text color when tab is active or hovered */
.tab-button:hover, .tab-button.active {
    background-color: #444c56; /* Darker background for active/hovered tabs */
    color: white;
    font-weight: bold; /* Bold text for active/hovered tabs */
}

#content-container {
    padding: 20px;
    min-height: 400px; /* Set a minimum height for the content section */
}

.hyperlink {
    color:#03acd6;
}

/********************************************************************

EXPERIENCE PAGE STYLES

**********************************************************/

.experience-item {
    display: inline-block;
    margin-right: 10px;
}

.experience-info ul, .experience-description {
    font-size: 1rem;
    font-weight: lighter;
    color: #8b949e;
}

.experience-content {
    display:flex;
}
.experience-highlevel {
    width: 20%;
}
.experience-info {
    width: 80%;
}

.experience-tools {
    display:inline-block;
    margin-left: 5pt;
}
/****************************************
HEADER STYLES
*****************************************************/
.header-container {
    display: inline-flex;
    justify-content:space-evenly;
    align-items: center;
}

.profile-column {
    width: 10%;
    height: 100%;
}

.profile-photo {
    width: 90%;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow */
    border: 1px solid #444; /* Card border */    
}

.bio-column {
    width: 90%;
    height: 100%;
    text-align: left;
}


.biography {
    background-color: #282828; /* Card background color */
    border: 1px solid #444; /* Card border */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Inner padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow */
    transition: transform 0.2s; /* Smooth hover effect */
}
.personal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}

.title {
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}

.social-links {
    background-color: #282828; /* Card background color */
    border: 1px solid #444; /* Card border */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Inner padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow */
}

.social-links a {
    margin-left: 15px;
    margin-right: 15px;

    text-decoration: none;
    color: #a0a5ac; /* Adjust color as needed */
    font-size: 18px;
}

.social-links i {
    margin-right: 2px;
}

.social-links a:hover {
    color: #0077b5; /* LinkedIn blue for hover */
}
.chart-container {
    flex: 3;                        /* Make the chart section take more space */
    display: flex;                   /* Allows charts to align horizontally */
    justify-content: space-around;   /* Distribute charts evenly */
    align-items: top;
}
.chart-wrapper {
    display: flex;
    flex:2;
}
.chart-holder{
    width: 50%;
}
canvas{
    width:80%;
}
.legend {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding-left: 2vw;
}

.legend-item {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-bottom: 0.5vw; /* Space between items */
    font-size: 1vw; /* Dynamic font size based on viewport width */
}

.color-box {
    width: 1vw; /* Dynamic width based on viewport width */
    height: 1vw; /* Dynamic height based on viewport width */
    min-width: 5px; /* Minimum width */
    min-height: 5px; /* Minimum height */
    margin-right: 5px; /* Space between color box and text */
}



  
  
