/* experiences.css */
.experience-card {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #2b2b2b;
    border-radius: 8px;
    color: white;
}

.experience-info {
    margin-top: 10px;
}

.experience-item {
    display: inline-block;
    margin-right: 10px;
}

.color-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.bullet-points {
    list-style-type: disc;
    margin-left: 20px;
}

.tools-used {
    margin-top: 5px;
}
.tab-content {
    display: none; /* Hidden by default */
}

#experiences {
    display: block; /* Ensure it's visible when selected */
}